/*------------------------------------------------------------------
[Typography]
*/

/* Headings Fonts variables */
$font-accident-two:               'Exo 2', sans-serif;
$font-regular:                    'Open Sans', sans-serif;

/* Heading font two */
.font-accident-two-thin           {  font-family: $font-accident-two;  font-weight: 100 !important;  }
.font-accident-two-extralight     {  font-family: $font-accident-two;  font-weight: 200 !important;  }
.font-accident-two-light          {  font-family: $font-accident-two;  font-weight: 300 !important;  }
.font-accident-two-normal         {  font-family: $font-accident-two;  font-weight: 400 !important;  }
.font-accident-two-medium         {  font-family: $font-accident-two;  font-weight: 500 !important;  }
.font-accident-two-bold           {  font-family: $font-accident-two;  font-weight: 700 !important;  }
.font-accident-two-extrabold      {  font-family: $font-accident-two;  font-weight: 800 !important;  }
.font-accident-two-black          {  font-family: $font-accident-two;  font-weight: 900 !important;  }

/* Regular font */
.font-regular-light               {  font-family: $font-regular;  font-weight: 300;  font-style: normal !important;  }
.font-regular-normal              {  font-family: $font-regular;  font-weight: 400;  font-style: normal !important;  }
.font-regular-normal-italic       {  font-family: $font-regular;  font-weight: 400;  font-style: oblique !important;  }
.font-regular-medium              {  font-family: $font-regular;  font-weight: 600;  font-style: normal !important;  }
.font-regular-bold                {  font-family: $font-regular;  font-weight: 700;  font-style: normal !important;  }
.font-regular-extrabold           {  font-family: $font-regular;  font-weight: 800;  font-style: normal !important;  }

/* Headings */
h1 {}
h2 {font-size: 48px;}
h3 {
  line-height: 1.2em;  font-size: 29px;
}
h4 {}
h5 {}
h6 {font-size: 11px;  letter-spacing: 3px;}
h4, h5, h6 { a {color: $hovercolor;} }



//.title {
//  padding-bottom: 20px;
//  //border-bottom: 1px solid rgba(255, 255, 255, .3);
//  display: initial;
//}
.title-light {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: initial;
}
/* Paragraphs */
.small {font-size: 13px;}
.extrasmall {font-size: 12px;}
.superheading {  font-size: 48px;  }

